{block title}Main menu{/block}

{block content}
<div class="container-fluid">
	<h1>{include title}</h1>
	<div class="row">
		<ul>
			<li>
				<a href={link SqlPatcher:default}>SqlPatcher</a>
			</li>
		</ul>
	</div>
{/block}